*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #167448;

}
 .container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.container .image{
    margin-top: 140px;
    width: 300px;
    height: 300px;
    
}
.container .image img{
    margin-top: 10%;

    width: 300px;
    height: 300px;
    border-radius:620%;
}


.container .welcome{
    background-color: #FCF7D7;
    border-radius: 10px;
    padding: 2%;
    margin-top: 50px;


}
.container .welcome h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    

}

.container .text_alert{

    display: flex;
    margin-top:60px;
    direction: rtl;
    width: 80%;
    color: #FCF7D7;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content:center;
    align-items: center;   
    
}

.container input{
    margin-top:20px;
    width: 75%;
    height: 40px;
    padding: 10px;
    background-color: #FCF7D7;
    border-radius: 10px;

}
input::placeholder{
    text-align: end;
    font-size: 20px;
 }

 .container button{
    margin-top: 30px;
    width: 50%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FCF7D7;
    color: #167448;
    font-size: 25px;
}